/* Nhóm định dạng cho banner ngang */
.img-banner-h {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
    background-size: cover;
}
.img-banner-h img {
    margin-bottom: 10px;
}

/* Nhóm định dạng cho banner dọc */
.banner-vectical {
    width: 250px;
}
.banner-vectical.left {
    position: fixed;
    bottom: 300px;  /* Cách mép dưới 300px */
    left: 10px; /* Cách mép trái 10px */
}
.banner-vectical.right {
    position: fixed;
    bottom: 300px;  /* Cách mép dưới 300px */
    right: 10px; /* Cách mép phải 10px */
}