/* Nhóm định dạng cho footer chính */
.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Nhóm định dạng cho các phần tử trong footer-top */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Nhóm định dạng cho các phần tử trong footer-left */
.footer-left {
    display: block;
    width: fit-content;
    margin: 0 100px;
}

/* Nhóm định dạng cho các phần tử trong head */
.head {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Nhóm định dạng cho các phần tử văn bản trong footer */
.footer span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.footer p {
    margin: 5px 0;
    font-size: 14px;
}
.footer h2 {
    font-size: 18px;
    font-weight: bold;
}

/* Nhóm định dạng cho nội dung footer */
.footer-content {
    display: block;
    text-align: left;
    gap: 10px;
}

/* Nhóm định dạng cho logo trong footer */
.footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Nhóm định dạng cho footer-right */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right; 
    gap: 10px;
    padding-top: 30px;
    margin: 0 100px;
}

/* Nhóm định dạng cho các menu trong footer */
.top-menu {
    display: flex;
    gap: 30px;
}
.bottom-menu {
    display: flex;
    gap: 20px;
}
.bottom-menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.auth-menu {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    color: white;
    font-size: 13px;
}
.auth-menu a {
    color: white;
    text-decoration: none;
}

/* Nhóm định dạng cho các mục trong footer */
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
}

/* Nhóm định dạng cho các đường phân cách trong footer */
.footer-divider {
    width: 100%;
    margin: 10px 0;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
}
