
.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
.right-container{
    
}
body{
    background-color: #EEEEEE;
}
.h1-wellcome{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    font-size: 3.8rem;
    background: linear-gradient(45deg, #00dbde,  #fc00ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.time-info{
    margin: 20px 5%;
    padding: 30px;
    background-color: white;
    
}
.time-warpper{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    box-shadow: 1px;
}
.time-warpper .module-time-warpper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    
}
.time-info-title{
    font-size: 2.4rem;
}
.time-warpper .module-time-warpper .time-number{
    font-size: 5.2rem;
    font-weight: bold;
    display: block;
    background-color: #7375e9;
    color: white;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.time-warpper .module-time-warpper .detial-time-text{
    font-size: 1.7rem;
    width: 100%;
    background-color: #0004fa;
    
    color: white;
    text-align: center;
    padding: 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dot-info-table{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 0px 5px;
}
.thong-ke-container{
    margin: 20px 5%;
        padding: 30px;
    background-color: white ;
}
.table-thongke-article{
    width: 400px;
}
.table-thongke-article, td, tr{
    border: 1px black solid;
    border-collapse: collapse;
}
.table-thongke-article td{
    padding: 10px 10px;
    font-size: 1.6rem;
}
.table-thongke-article th{
    font-size: 2.7rem;
}
.table-thongke-article .table-result{
    text-align: center;
}