/* Nhóm định dạng cho body và overlay */
body {
    background-color: rgba(0, 0, 0, 0.233);
    background: url('../images/du-lich-binh-dinh-ivivu1.jpg') no-repeat center center fixed;
    background-size: cover;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}

/* Nhóm định dạng cho form đăng nhập */
form {
    height: 480px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.11);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form * {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

/* Nhóm định dạng cho nhãn và trường nhập liệu */
label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-left: -10px;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-left: -10px;
}
::placeholder {
    color: #ffffff;
}

/* Nhóm định dạng cho nút đăng nhập */
#loginbtn {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* Nhóm định dạng cho liên kết trong form */
form a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}
form a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Nhóm định dạng cho thông báo đăng nhập */
.login-nofication {
    display: none;
    position: relative;
    top: 30px;
    left: 40%;
    width: 300px;
    height: 250px;
    background-color: white;
}
.message{
    font-size: 0.9rem;
    color: red;

}